.form-box{
    margin-top: 50px;
}

.flex-box{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}

.input-name{
    width: 50%;
    outline: none;
    height: 30px;
    border: 1px solid blue;
    border-radius: 15px;
    font-size: 15px;
}

.label{
    font-size: 18px;
    font-weight: 700;
    color: blue;
}

.submit-button{
    height: 30px;
    width: 80px;
    border: none;
    border-radius: 10px;
    background-color: blue;
    font-size: 18px;
    color: white;
    margin-top: 40px;
}